SUPABASE_URL=https://aosnytcfcazlaolozehx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvc255dGNmY2F6bGFvbG96ZWh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA0Nzg4MywiZXhwIjoyMDg2NjIzODgzfQ.IcrhKm5RpBLgybftODPbzag3XLl4W_iX8srIU07MnOA
